body {
  background-color: hsl(30, 38%, 92%);
  display: flex;
  flex-direction: column;
}
main {
  margin: 50px auto;
  display: flex;
  max-width: 520px;
  max-height: 390px;
  /* border: black 1px solid; */
  border-radius: 1em;
}

img {
  object-fit: cover;
  width: 260px;
  height: 390px;
  border-radius: 1em 0 0 1em;
}

h2 {
  font-family: Montserrat, sans-serif;
  color: #a7a7a7;
  font-size: 0.6em;
  /* font-weight: lighter; */
  letter-spacing: 0.4em;
}

h1 {
  font-family: "Fraunces", serif;
  font-weight: 700;
  line-height: 0.9em;
}

.image {
  background-size: contain;
  /* border: black 1px solid; */
}

.right-block {
  background-color: white;
  padding: 20px 20px 0px 20px;
  /* width: 260px; */
  border-radius: 0 1em 1em 0;
}
p {
  font-family: Montserrat, sans-serif;
  font-size: 0.85rem;
  color: #a7a7a7;
  line-height: 1.4em;
  margin: 15px 0 30px 0;
}

.price {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 2em;
  color: #347d3a;
  margin: 0 15px 0 0;
}

.strikethrough {
  text-decoration: line-through;
}

.btn {
  background-color: #347d3a;
  color: white;
  padding: 10px 59px;
  border-radius: 0.8em;
  border: none;
}

.shopping-cart-icon {
  margin-right: 0.7em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 700px) {
  main {
    flex-direction: column;
    max-width: 390px;
    max-height: auto;
  }
  img {
    content: url("images/image-product-mobile.jpg");
    width: 390px;
    height: 250px;
    border-radius: 1em 1em 0 0;
  }
  .image {
    height: 250px;
  }
  .right-block {
    border-radius: 0 0 1em 1em;
  }
  .attribution {
    display: none;
  }
  .btn {    
    padding: 10px 125px;
    margin: 0px auto;
    justify-content: center;
  }
}
